@font-face {
    font-family: RobotoRegular;
    src: url('../public/assets/fonts/Roboto-Regular.ttf');
    format: ('tff');
    font-display: swap;
}
@font-face {
    font-family: RobotoMedium;
    src: url('../public/assets/fonts/Roboto-Medium.ttf');
    format: ('tff');
    font-display: swap;
}
@font-face {
    font-family: RobotoBold;
    src: url('../public/assets/fonts/Roboto-Bold.ttf');
    format: ('tff');
    font-display: swap;
}
@import "react-alice-carousel/lib/alice-carousel.css"